<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="なぞなぞ花火">
    <meta property="og:description" content="なぞなぞに答えて花火を打ち上げよう！">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://momijyu-hibana-afbz85wfs-momijyus-projects.vercel.app/login/">
    <meta property="og:image" content="OGP画像の絶対URL">
    <title>Password</title>
  </head>
  <body>
    <h1>❓ なぞなぞ ❓</h1>
      <p>花なのに、根もくきも葉っぱもない。<br>でも咲くと皆が空を見上げる花ってなーんだ？🌸</p>
    {% if error %}
      <p style="color: red;">不正解です。</p>
    {% endif %}

    <form action="{{ url_for('menu') }}" method="post">
      <label>
        答え
        <input type="password" name="password" required autofocus>
      </label>
      <button type="submit">決定</button>
    </form>
  </body>
</html>
